.theme-code-header {
  padding: 5px 0;
  .logo {
    display: inline-block;
    vertical-align: middle;
    img {
      display: block;
      width: auto;
      height: auto;
      max-height: 100px;
      max-width: 200px;
    }
  }
  .title {
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0;
  }
}

.theme-code-bottom {
  text-align: center;
  line-height: 2;
}
